<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head.ejs') %>
    <title>Update Player</title>
  </head>
  <body>
    <div class="container mt-5">
      <h3>Update Player</h3>
      <a href="/dashboard/users/<%= user.id %>">Back to Player Detail</a>
      <div class="row">
        <div class="col-7">
          <p>Edit on the form field to update.</p>
          <form
            method="POST"
            action="/dashboard/users/update/<%= user.id %>?_method=PUT"
            class="mt-5"
            name="updateForm"
          >
            <div class="form-group">
              <label for="InputUsername"
                >Username
                <input
                  type="button"
                  value="Clear"
                  class="btn btn-light"
                  onclick="document.getElementById('InputUsername').value = ''"
                />
              </label>
              <input
                type="text"
                class="form-control"
                id="InputUsername"
                name="username"
                value="<%= user.username %>"
              />
            </div>
            <div class="form-group">
              <label for="InputEmail"
                >Email
                <input
                  type="button"
                  value="Clear"
                  class="btn btn-light"
                  onclick="document.getElementById('InputEmail').value = ''"
                />
              </label>
              <input
                type="email"
                class="form-control"
                id="InputEmail"
                name="email"
                value="<%= user.email %>"
              />
            </div>
            <div class="form-group">
              <label for="InputUsername"
                >First Name
                <input
                  type="button"
                  value="Clear"
                  class="btn btn-light"
                  onclick="document.getElementById('InputFirstName').value = ''"
                />
              </label>
              <input
                type="text"
                class="form-control"
                id="InputFirstName"
                name="firstname"
                value="<%= user.UserBio.firstname %>"
              />
            </div>
            <div class="form-group">
              <label for="InputLastName"
                >Last Name
                <input
                  type="button"
                  value="Clear"
                  class="btn btn-light"
                  onclick="document.getElementById('InputLastName').value = ''"
                />
              </label>
              <input
                type="text"
                class="form-control"
                id="InputLastName"
                name="lastname"
                value="<%= user.UserBio.lastname %>"
              />
            </div>
            <div class="form-group">
              <label for="InputCity"
                >City
                <input
                  type="button"
                  value="Clear"
                  class="btn btn-light"
                  onclick="document.getElementById('InputCity').value = ''"
                />
              </label>
              <input
                type="text"
                class="form-control"
                id="InputCity"
                name="city"
                value="<%= user.UserBio.city %>"
              />
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            <input
              type="button"
              value="Clear All"
              class="btn btn-outline-dark"
              onclick="
              document.getElementById('InputCity').value = '';
              document.getElementById('InputLastName').value = '';
              document.getElementById('InputFirstName').value = '';
              document.getElementById('InputUsername').value = '';
              document.getElementById('InputEmail').value = '';
              "
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
